/** (⌐■_■) Variables css */

:root {
  
  /*? d[-_-]b gradients */
  
  --gr-1: linear-gradient(rgb(0,0,0), rgb(58,58,58));
  --gr-1-inv: linear-gradient(rgb(58,58,58), rgb(0,0,0));
  --gr-1-50: linear-gradient(rgba(58,58,58,.5), rgba(0,0,0,.5));
  --gr-2: linear-gradient(black, rgb(58,58,58), black);
  --gd-3: linear-gradient(rgb(50,50,50), grey, rgb(50,50,50));
  --gd-3-50: linear-gradient(rgba(50,50,50,.5), rgba(175,175,175,.5), rgba(50,50,50,.5));

  /*? d[-_-]b grey colors */
  
  --c-grey-1: rgb(25,25,25);
  --c-grey-2: rgb(50,50,50);
  --c-grey-3: rgb(75,75,75);
  --c-grey-4: rgb(100,100,100);
  --c-grey-5: rgb(125,125,125);

  /*? d[-_-]b colors */

  --c-int-1: red;
  --c-int-2: orange;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  overflow: hidden;
}

/** (⌐■_■) Basic reset */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--c-grey-5);
}

/** (⌐■_■) Layout */

.gc {
  width: 100%;
  height: 100vh;
  /*   -> Grid <-   */
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr) 20%;
  grid-template-rows: 15% repeat(2, 1fr) 15%;
  grid-template-areas: 
  "header header header header"
  "left c-1 c-2 right"
  "left c-3 c-4 right"
  "footer footer footer footer";
}

.header {grid-area: header;}
.left {grid-area: left;}
.c-1 {grid-area: c-1;}
.c-2 {grid-area: c-2;}
.c-3 {grid-area: c-3;}
.c-4 {grid-area: c-4;}
.right {grid-area: right;}
.footer {grid-area: footer;}

.header,
.left,
.c-1,
.c-2,
.c-3,
.c-4,
.right,
.footer {
  position: relative;
  overflow: hidden;
}

/** (⌐■_■) INT */

.int {
  position: absolute;
  width: 40%;
  height: 50%;
  border: 2px solid var(--c-grey-1);
  outline: 2px solid var(--c-grey-2);
}

/*? ➞➞➞➞➞ Menu1 ➞➞➞➞➞ */

.menu1 {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 100%;
  height: 95%;
  padding: 0.5rem;
  background-color: var(--c-int-1);
  border-radius: 1.5rem;
}

.menu1-cont {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--c-int-2);
  border-radius: 1.3rem;
}

.menu1-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu1__link {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--c-int-2);
  background-color: var(--c-grey-1);
  color: var(--c-grey-5);
  transition: background-color 500ms ease-in-out,
  color 500ms ease-in-out;
}

.menu1__link:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
}

.menu1__link:nth-child(10) {
  border-radius: 0 0 1rem 1rem;
}

.menu1__link:hover {
  background-color: var(--c-int-2);
  color: black;
}

/*? ➞➞➞➞➞ Menu2 ➞➞➞➞➞ */

.menu2 {
  position: absolute;
  width: 90%;
  height: 50%;
  background-color: var(--c-int-1);
  padding: 0.5rem;
  border-radius: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu2-cont {
  width: 100%;
  height: 100%;
  background-color: orange;
  padding: 0.5rem;
  border-radius: 1.3rem;
}

.menu2-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu2__link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  background-color: var(--c-grey-1);
  border-bottom: 1px solid var(--c-int-2);
  transition: background-color 500ms ease-in-out,
  color 500ms ease-in-out;
}

.menu2__link:nth-child(1) {
  border-radius: 1rem 1rem 0 0;
}

.menu2__link:nth-child(5) {
  border-radius: 0 0 1rem 1rem;
}

.menu2__link:hover {
  background-color: var(--c-int-2);
  color: black;
}

/** (⌐■_■) ANI */

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*! [ Header ] */

.header {
  background-image: var(--gr-2);
  border: 2px solid var(--c-grey-2);
  outline: 2px solid var(--c-grey-3);
}

/* ?0__# int */

.header .int:nth-child(1) {
  width: 65%;
  background-image: var(--gd-3-50);
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.header .int:nth-child(2) {
  left: 50%;
  height: 85%;
  width: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background-image: var(--gr-1);
}

.header .int:nth-child(3) {
  background-color: var(--c-int-1);
  transform: skew(-45deg);
  left: -5%;
}

.header .int:nth-child(4) {
  background-color: var(--c-int-1);
  transform: skew(45deg);
  right: -5%;
}

.header .int:nth-child(5) {
  width: 20%;
  height: 30%;
  bottom: 0;
  left: -5%;
  background-image: repeating-linear-gradient(90deg, orange 0 10%, rgb(50,50,50) 10% 20%);
  transform: skew(45deg);
  animation: hue 10s linear infinite;
}

.header .int:nth-child(6) {
  width: 20%;
  height: 30%;
  bottom: 0;
  right: -5%;
  background-image: repeating-linear-gradient(90deg, orange 0 10%, rgb(50,50,50) 10% 20%);
  transform: skew(-45deg);
  animation: hue 10s linear infinite;
}

.header .int:nth-child(7) {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 25%;
  height: 30%;
  background-color: var(--c-int-1);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}

.header .int:nth-child(8) {
  width: 25%;
  background-color: var(--c-grey-1);
  transform: skew(-45deg);
  top: -10%;
  left: -5%;
  background-image: var(--gr-2);
}

.header .int:nth-child(9) {
  width: 25%;
  background-color: var(--c-grey-1);
  transform: skew(45deg);
  top: -10%;
  right: -5%;
  background-image: var(--gr-2);
}

.header .int:nth-child(10) {
  width: 15%;
  height: 25%;
  background-image: linear-gradient(90deg, rgb(50,50,50) 25%, rgb(150,150,150) 25% 26%, rgb(50,50,50) 26% 51%, rgb(150,150,150) 51%, 52%, rgb(50,50,50) 52% 77%, rgb(150,150,150) 77% 78%, rgb(50,50,50) 78%);
  transform: skew(-45deg);
  border: 1px solid var(--c-grey-5);
}

.header .int:nth-child(11) {
  width: 15%;
  height: 25%;
  background-image: linear-gradient(90deg, rgb(50,50,50) 25%, rgb(150,150,150) 25% 26%, rgb(50,50,50) 26% 51%, rgb(150,150,150) 51%, 52%, rgb(50,50,50) 52% 77%, rgb(150,150,150) 77% 78%, rgb(50,50,50) 78%);
  transform: skew(45deg);
  border: 1px solid var(--c-grey-5);
  right: 0;
}

/*! [ L ] */

.left {
  background-image: var(--gr-2);
  border: 2px solid var(--c-grey-2);
  outline: 2px solid var(--c-grey-3);
}

/*? ➞➞➞➞➞ Menu1 ➞➞➞➞➞ */

.left .menu1:nth-child(1) {
  left: -95%;
  transition: left 500ms ease-in-out;
}

.left .menu1:nth-child(1):hover {left: -3%;}

.left .menu1:nth-child(2) {
  right: -95%;
  transition: right 500ms ease-in-out;
}

.left .menu1:nth-child(2):hover {right: -3%;}

/*? ➞➞➞➞➞ Menu2 ➞➞➞➞➞ */

.left .menu2:nth-child(3) {
  top: -47%;
  transition: top 500ms ease-in-out;
}

.left .menu2:nth-child(3):hover {top: -2%;}

.left .menu2:nth-child(4) {
  bottom: -47%;
  transition: bottom 500ms ease-in-out;
}

.left .menu2:nth-child(4):hover {bottom: -2%;}

/*! [ C-1 ] */

.c-1 {
  background-color: var(--c-grey-1);
  border: 1px solid var(--c-grey-2);
}

/*! [ C-2 ] */

.c-2 {
  background-color: var(--c-grey-1);
}


/*! [ C-3 ] */

.c-3 {
  background-color: var(--c-grey-1);
}


/*! [ C-4 ] */

.c-4 {
  background-color: var(--c-grey-1);
  border: 1px solid var(--c-grey-2);
}


/*! [ R ] */

.right {
  background-image: var(--gr-2);
  border: 2px solid var(--c-grey-2);
  outline: 2px solid var(--c-grey-3);
}

/*? ➞➞➞➞➞ Menu1 ➞➞➞➞➞ */

.right .menu1:nth-child(1) {
  left: -95%;
  transition: left 500ms ease-in-out;
}

.right .menu1:nth-child(1):hover {left: -3%;}

.right .menu1:nth-child(2) {
  right: -95%;
  transition: right 500ms ease-in-out;
}

.right .menu1:nth-child(2):hover {right: -3%;}

/*? ➞➞➞➞➞ Menu2 ➞➞➞➞➞ */

.right .menu2:nth-child(3) {
  top: -47%;
  transition: top 500ms ease-in-out;
}

.right .menu2:nth-child(3):hover {top: -2%;}

.right .menu2:nth-child(4) {
  bottom: -47%;
  transition: bottom 500ms ease-in-out;
}

.right .menu2:nth-child(4):hover {bottom: -2%;}

/*! [ Footer ] */

.footer {
  background-image: var(--gr-2);
  border: 2px solid var(--c-grey-2);
  outline: 2px solid var(--c-grey-3);
}

/* ?0__# int */

.footer .int:nth-child(1) {
  left: 50%;
  height: 85%;
  width: 60%;
  transform: translate(-50%, 0);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background-image: var(--gr-1);
}

.footer .int:nth-child(2) {
  background-color: var(--c-int-1);
  transform: skew(45deg);
  left: -5%;
  bottom: 0;
}

.footer .int:nth-child(3) {
  background-color: var(--c-int-1);
  transform: skew(-45deg);
  right: -5%;
  bottom: 0;
}

.footer .int:nth-child(4) {
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  width: 25%;
  height: 30%;
  background-color: var(--c-int-1);
  clip-path: polygon(0 0, 100% 1%, 90% 100%, 10% 100%);
}

.footer .int:nth-child(5) {
  width: 25%;
  background-color: var(--c-grey-1);
  transform: skew(45deg);
  bottom: -10%;
  left: -5%;
  background-image: var(--gr-2);
}

.footer .int:nth-child(6) {
  width: 25%;
  background-color: var(--c-grey-1);
  transform: skew(-45deg);
  bottom: -10%;
  right: -5%;
  background-image: var(--gr-2);
}

.footer .int:nth-child(7) {
  width: 20%;
  height: 30%;
  top: 0;
  left: -5%;
  background-image: repeating-linear-gradient(90deg, orange 0 10%, rgb(50,50,50) 10% 20%);
  transform: skew(-45deg);
  animation: hue 10s linear infinite;
}

.footer .int:nth-child(8) {
  width: 20%;
  height: 30%;
  top: 0;
  right: -5%;
  background-image: repeating-linear-gradient(90deg, orange 0 10%, rgb(50,50,50) 10% 20%);
  transform: skew(45deg);
  animation: hue 10s linear infinite;
}

.footer .int:nth-child(9) {
  width: 15%;
  height: 25%;
  background-image: linear-gradient(90deg, rgb(50,50,50) 25%, rgb(150,150,150) 25% 26%, rgb(50,50,50) 26% 51%, rgb(150,150,150) 51%, 52%, rgb(50,50,50) 52% 77%, rgb(150,150,150) 77% 78%, rgb(50,50,50) 78%);
  transform: skew(45deg);
  border: 1px solid var(--c-grey-5);
  bottom: 0;
}

.footer .int:nth-child(10) {
  width: 15%;
  height: 25%;
  background-image: linear-gradient(90deg, rgb(50,50,50) 25%, rgb(150,150,150) 25% 26%, rgb(50,50,50) 26% 51%, rgb(150,150,150) 51%, 52%, rgb(50,50,50) 52% 77%, rgb(150,150,150) 77% 78%, rgb(50,50,50) 78%);
  transform: skew(-45deg);
  border: 1px solid var(--c-grey-5);
  right: 0;
  bottom: 0;
}